[submodule "vim-files/vim-pathogen"]
	path = vim-files/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-files/.vim/bundle/vim-sensible"]
	path = vim-files/.vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim-files/.vim/bundle/vim-fugitive"]
	path = vim-files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-files/.vim/bundle/vim-eunuch"]
	path = vim-files/.vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim-files/.vim/bundle/nerdtree"]
	path = vim-files/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-files/.vim/bundle/tcomment_vim"]
	path = vim-files/.vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim-files/.vim/bundle/vim-characterize"]
	path = vim-files/.vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "vim-files/.vim/bundle/python-mode"]
	path = vim-files/.vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim-files/.vim/bundle/vim-lucius"]
	path = vim-files/.vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "vim-files/.vim/bundle/taglist"]
	path = vim-files/.vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = untracked
[submodule "vim-files/.vim/bundle/powerline"]
	path = vim-files/.vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "vim-files/.vim/bundle/vim-easymotion"]
	path = vim-files/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-files/.vim/bundle/gundo"]
	path = vim-files/.vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim-files/.vim/bundle/ultisnips"]
	path = vim-files/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim-files/.vim/bundle/ctrlp"]
	path = vim-files/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-files/.vim/bundle/vim-multiple-cursors"]
	path = vim-files/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	ignore = untracked
[submodule "vim-files/.vim/bundle/neocomplcache-ultisnips"]
	path = vim-files/.vim/bundle/neocomplcache-ultisnips
	url = https://github.com/JazzCore/neocomplcache-ultisnips.git
[submodule "vim-files/.vim/bundle/neocomplcache"]
	path = vim-files/.vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "vim-files/.vim/bundle/numbers"]
	path = vim-files/.vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim-files/.vim/bundle/vim-gitgutter"]
	path = vim-files/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-files/.vim/bundle/rainbow_parentheses"]
	path = vim-files/.vim/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim-files/.vim/bundle/jedi-vim"]
	path = vim-files/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim-files/.vim/bundle/vim-indent-guides"]
	path = vim-files/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim-files/.vim/bundle/vim-yankstack"]
	path = vim-files/.vim/bundle/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "vim-files/.vim/bundle/vim-surround"]
	path = vim-files/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-files/.vim/bundle/syntastic"]
	path = vim-files/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-files/.vim/bundle/YouCompleteMe"]
	path = vim-files/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim-files/vim/bundle/vundle"]
	path = vim-files/vim/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "zsh-files/antigen"]
	path = zsh-files/antigen
	url = https://github.com/zsh-users/antigen.git
