[submodule "vim-files/vim-pathogen"]
	path = vim-files/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-files/.vim/bundle/vim-sensible"]
	path = vim-files/.vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim-files/.vim/bundle/vim-fugitive"]
	path = vim-files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-files/.vim/bundle/vim-eunuch"]
	path = vim-files/.vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim-files/.vim/bundle/nerdtree"]
	path = vim-files/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-files/.vim/bundle/tcomment_vim"]
	path = vim-files/.vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim-files/.vim/bundle/vim-characterize"]
	path = vim-files/.vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "vim-files/.vim/bundle/python-mode"]
	path = vim-files/.vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim-files/.vim/bundle/vim-lucius"]
	path = vim-files/.vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "vim-files/.vim/bundle/taglist"]
	path = vim-files/.vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "zsh-files/oh-my-zsh"]
	path = zsh-files/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim-files/.vim/bundle/powerline"]
	path = vim-files/.vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "vim-files/.vim/bundle/vim-easymotion"]
	path = vim-files/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-files/.vim/bundle/gundo"]
	path = vim-files/.vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim-files/.vim/bundle/ultisnips"]
	path = vim-files/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
